<div class="sidebar well">
    <img src="/images/rsz_bec594accfbf7e60ac1e4a974037c6eb_400x400.png" alt="Connor">
    <center>
        {{ site.description }}

    </center>
</div>


<div class="sidebar well">
    <a href="http://www.zenfloatco.com?tap_a=5195-1d77bb&tap_s=10751-455ee4&tm_banner=sidebar" target="_BLANK" rel="nofollow"><img src="https://static.tapfiliate.com/56391821ec220.png?a=5195-1d77bb&s=10751-455ee4" border=0></a>
</div>


<div class="sidebar well">
{% include newsletter.html %}
</div>



<div class="sidebar well">
    <h1>Recent Posts</h1>
    <ul>
        {% for post in site.posts limit:5 %}
          <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
</div>

<div class="sidebar well">
{% include links-list.html %}
</div>
